In [8]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="testdb"   # same DB of Workbench
)
cursor = conn.cursor()
cursor.execute("CREATE TABLE if not exists testdb2.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30))")
conn.close()

In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="testdb3"
)
cursor = conn.cursor()
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb3.test_table_new values(123, 'Shlok', 234.45, 234, 'Nandwana')")
conn.commit()
conn.close()

In [4]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="testdb3"
)
cursor = conn.cursor()
cursor.execute("select c1, c5 from testdb3.test_table_new")
for i in cursor.fetchall():
    print(i)
conn.close()

(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')