In [5]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="testdb2"   # same DB of Workbench
)
cursor = conn.cursor()
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
cursor.execute("insert into testdb2.test_table values(123, 'Shlok', 234.45, 234, 'Nandwana')")
conn.commit()
conn.close()