In [4]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456",
    database="testdb2"
)
cursor = conn.cursor()
cursor.execute("select c1, c5 from testdb2.test_table")
for i in cursor.fetchall():
    print(i)
conn.close()

(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')
(123, 'Nandwana')